<%- include('../header', { title: typeof song === 'undefined' ? 'Add Song' :
'Edit Song' }) %>

<script>
  function addBadge(id, name) {
    let elem = `<div id="artist-${id}" class="badge badge-lg mb-1 badge-info gap-2">
      <input
        class="hidden"
        type="text"
        name="artist_ids"
        value="${id}"
      />
      <button
        type="button"
        onclick="onRemoveBadgeClick(this)"
        >
        <i class="fa-solid fa-xmark"></i>
      </button>
      ${name}
    </div> `;

    const parent = document.getElementById('artist_badges');
    parent.insertAdjacentHTML('beforeend', elem);
  }

  function removeBadge(elem) {
    elem.remove();
  }

  function onSearchItemClick(id, name) {
    if (document.getElementById(`artist-${id}`)) return;

    resetSearchInput();
    resetSearchList();

    addBadge(id, name);
  }

  function resetSearchInput() {
    const search_input = document.getElementById('search_input');
    search_input.value = '';
    search_input.focus();
  }

  function onRemoveBadgeClick(event) {
    removeBadge(event.parentNode);
  }

  const debounce = (func, delay = 200) => {
    let timeoutId;

    return function () {
      clearTimeout(timeoutId);
      timeoutId = setTimeout(() => {
        func.apply(this, arguments);
      }, delay);
    };
  };

  function onSearchInput(evt) {
    // set to 1 for testing purposes
    if (evt.value.length < 1) {
      resetSearchList();
    } else {
      debounced(evt);
    }
  }

  const debounced = debounce(searchArtist, 200);

  async function searchArtist(evt) {
    let text = evt.value;

    await fetch('/artist/search?' + new URLSearchParams({ q: text }))
      .then((x) => x.json())
      .then((y) => {
        setSearchListItems(y);
      })
      .catch((e) => console.error(e));
  }

  function resetSearchList() {
    document.getElementById('search_list').innerHTML =
      '<li class="disabled w-full"><a>Type to search...</a></li>';
  }

  function clearSearchList() {
    document.getElementById('search_list').innerHTML = '';
  }

  function setSearchListItems(elems) {
    const search_input = document.getElementById('search_input');
    if (search_input.value.length === 0) {
      resetSearchList();
      return;
    }

    clearSearchList();

    if (elems.length === 0) {
      addSearchItem('', 'Not found', true);
    } else {
      for (let elem of elems) {
        addSearchItem(elem._id, elem.name);
      }
    }
  }

  function addSearchItem(id, name, disabled = false) {
    document
      .getElementById('search_list')
      .insertAdjacentHTML('beforeend', genListItem(id, name, disabled));
  }

  function genListItem(id, name, disabled = false) {
    return `<li class="w-full ${disabled ? 'disabled' : ''}"><a ${
      disabled ? '' : `onclick="onSearchItemClick('${id}', '${name}')`
    }">${name}</a></li>`;
  }
</script>

<div>
  <div class="py-6 px-4 lg:container mx-auto">
    <header class="flex gap-4 items-center">
      <h1 class="text-4xl font-bold">
        <%= typeof song === 'undefined' ? 'Add' : 'Edit' %> Song
      </h1>
    </header>

    <div class="divider"></div>

    <div class="max-w-md mx-auto">
      <form
        class="flex flex-col gap-8"
        action="<%= typeof song === 'undefined' ? `/song/new/${artist._id}` : `/song/edit/${artist._id}/${song._id}` %>"
        method="post"
      >
        <div class="flex flex-col gap-3">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Title</span>
            </label>
            <input
              type="text"
              class="input input-bordered"
              name="title"
              placeholder="Title"
              required
              value="<%= typeof song === 'undefined' ? '' : song.title %>"
            />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Artist(s)</span>
            </label>
            <div id="artist_badges" class="pb-2">
              <% if (typeof song !== 'undefined') { for (let song_artist of
              song._artists) { %>
              <div
                id="artist-<%= song_artist._id %>"
                class="badge badge-lg mb-1 badge-info gap-2"
              >
                <input
                  class="hidden"
                  type="text"
                  name="artist_ids"
                  value="<%= song_artist._id %>"
                />
                <button type="button" onclick="onRemoveBadgeClick(this)">
                  <i class="fa-solid fa-xmark"></i>
                </button>
                <%= song_artist.name %>
              </div>
              <% }} else { %>
              <div
                id="artist-<%= artist._id %>"
                class="badge badge-lg mb-1 badge-info gap-2"
              >
                <input
                  class="hidden"
                  type="text"
                  name="artist_ids"
                  value="<%= artist._id %>"
                />
                <button type="button" onclick="onRemoveBadgeClick(this)">
                  <i class="fa-solid fa-xmark"></i>
                </button>
                <%= artist.name %>
              </div>
              <% } %>
            </div>
            <div class="dropdown">
              <input
                id="search_input"
                type="text"
                autocomplete="off"
                oninput="onSearchInput(this)"
                class="input input-bordered w-full"
                placeholder="Artist(s)"
                tabindex="0"
              />
              <div
                class="dropdown-content shadow bg-base-200 rounded-box w-52 max-h-96 overflow-auto flex-col"
              >
                <ul id="search_list" tabindex="0" class="menu">
                  <li class="disabled w-full">
                    <a>Type to search...</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Length (in seconds)</span>
            </label>
            <input
              type="number"
              class="input input-bordered"
              name="length"
              placeholder="Length (in seconds)"
              required
              value="<%= typeof song === 'undefined' ? '' : song.length %>"
            />
          </div>
          <!--
          <div class="hidden form-control">
            <label class="label">
              <span class="label-text">Length</span>
            </label>
            <div class="join">
              <input
                name="minutes"
                class="input input-bordered flex-1 join-item"
                placeholder="Minutes"
                type="number"
                required
              />
              <input
                name="seconds"
                class="input input-bordered flex-1 join-item"
                placeholder="Seconds"
                type="number"
                required
              />
            </div>
          </div>
          -->
          <div class="form-control">
            <label class="label">
              <span class="label-text">Release Date</span>
            </label>
            <input
              type="date"
              class="input input-bordered"
              name="release_date"
              required
              value="<%= typeof song === 'undefined' ? '' : song.release_date.toISOString().split('T').at(0) %>"
            />
          </div>
        </div>

        <div class="flex justify-center gap-2">
          <button type="submit" class="btn btn-primary">Save</button>
          <a class="btn" href="/artist/songs/<%= artist._id %>"> Cancel </a>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('../footer') %>
