<%- include('../header', { title: typeof song === 'undefined' ? 'Add Song' :
'Edit Song' }) %>

<script>
  function addBadge(id, name) {
    if (document.getElementById('artist-' + id)) return;

    let elem = `<div id="artist-${id}" class="badge badge-lg mb-1 badge-info gap-2">
      <input
        class="hidden"
        type="text"
        name="artist_ids"
        value="${id}"
      />
      <button
        type="button"
        onclick="removeParent(this)"
        >
        <i class="fa-solid fa-xmark"></i>
      </button>
      ${name}
    </div> `;

    const parent = document.getElementById('artist_badges');
    parent.insertAdjacentHTML('beforeend', elem);
  }

  function removeParent(event) {
    const elem = event.parentNode;
    elem.remove();
  }

  const debounce = (func, delay = 200) => {
    let timeoutId;

    return function () {
      clearTimeout(timeoutId);
      timeoutId = setTimeout(() => {
        func.apply(this, arguments);
      }, delay);
    };
  };

  function onSearchInput(evt) {
    // set to 1 for testing purposes
    if (evt.value.length < 1) {
      resetSearchList();
    } else {
      debounced(evt);
    }
  }

  const debounced = debounce(searchArtist, 200);

  async function searchArtist(evt) {
    let text = evt.value;

    await fetch('/artist/search?' + new URLSearchParams({ q: text }))
      .then((x) => x.json())
      .then((y) => {
        setSearchListItems(y);
      })
      .catch((e) => console.error(e));
  }

  function resetSearchList() {
    document.getElementById('search_list').innerHTML =
      '<li class="disabled w-full"><a>Type to search...</a></li>';
  }

  function setSearchListItems(elems) {
    const search_input = document.getElementById('search_input');
    if (search_input.value.length === 0) {
      resetSearchList();
      return;
    }

    const search_list = document.getElementById('search_list');
    search_list.innerHTML = '';

    if (elems.length === 0) {
      search_list.insertAdjacentHTML(
        'beforeend',
        genListItem('', 'Not found', true)
      );
    } else {
      for (let elem of elems) {
        search_list.insertAdjacentHTML(
          'beforeend',
          genListItem(elem._id, elem.name)
        );
      }
    }
  }

  function genListItem(id, name, disabled = false) {
    return `<li class="w-full ${
      disabled ? 'disabled' : ''
    }"><a onclick="addBadge('${id}', '${name}')">${name}</a></li>`;
  }
</script>

<div>
  <div class="py-6 px-4 lg:container mx-auto">
    <header class="flex gap-4 items-center">
      <h1 class="text-4xl font-bold">
        <%= typeof song === 'undefined' ? 'Add' : 'Edit' %> Song
      </h1>
    </header>

    <div class="divider"></div>

    <div class="max-w-md mx-auto">
      <form
        class="flex flex-col gap-6"
        action="<%= typeof song === 'undefined' ? `/song/new/${artist._id}` : `/song/edit/${artist._id}/${song._id}` %>"
        method="post"
      >
        <div>
          <div class="form-control">
            <label class="label">Title</label>
            <input
              type="text"
              class="input input-bordered"
              name="title"
              value="<%= typeof song === 'undefined' ? '' : song.title %>"
            />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="block">Artist(s)</span>
            </label>
            <div id="artist_badges" class="pb-2 inline-block">
              <% if (typeof song !== 'undefined') { for (let song_artist of
              song.artists) { %>
              <div
                id="artist-<%= song_artist._id %>"
                class="badge badge-lg mb-1 badge-info gap-2"
              >
                <input
                  class="hidden"
                  type="text"
                  name="artist_ids"
                  value="<%= song_artist._id %>"
                />
                <button type="button" onclick="removeParent(this)">
                  <i class="fa-solid fa-xmark"></i>
                </button>
                <%= song_artist.name %>
              </div>
              <% }} else { %>
              <div
                id="artist-<%= artist._id %>"
                class="badge badge-lg mb-1 badge-info gap-2"
              >
                <input
                  class="hidden"
                  type="text"
                  name="artist_ids"
                  value="<%= artist._id %>"
                />
                <button type="button" onclick="removeParent(this)">
                  <i class="fa-solid fa-xmark"></i>
                </button>
                <%= artist.name %>
              </div>
              <% } %>
            </div>
            <div class="dropdown">
              <input
                id="search_input"
                type="text"
                autocomplete="off"
                oninput="onSearchInput(this)"
                class="input input-bordered w-full"
                tabindex="0"
              />
              <div
                class="dropdown-content shadow bg-base-200 rounded-box w-52 max-h-96 overflow-auto flex-col"
              >
                <ul id="search_list" tabindex="0" class="menu">
                  <li class="disabled w-full">
                    <a>Type to search...</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-control">
            <label class="label">Length (in seconds)</label>
            <input
              type="number"
              class="input input-bordered"
              name="length"
              value="<%= typeof song === 'undefined' ? '' : song.length %>"
            />
          </div>
          <div class="form-control">
            <label class="label">Release Date</label>
            <input
              type="date"
              class="input input-bordered"
              name="release_date"
              value="<%= typeof song === 'undefined' ? '' : song.release_date %>"
            />
          </div>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">Save</button>
          <a class="btn" href="/artist/songs/<%= artist._id %>"> Cancel </a>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('../footer') %>
