<%- include('../header', { title: typeof artist === 'undefined' ? 'Add Artist' :
'Edit Artist' }) %>
<div>
  <div class="py-6 px-4 lg:container mx-auto">
    <header class="flex gap-4 items-center">
      <h1 class="text-4xl font-bold">
        <%= typeof artist === 'undefined' ? 'Add' : 'Edit' %> Artist
      </h1>
    </header>

    <div class="divider"></div>

    <div class="max-w-md mx-auto">
      <form
        class="flex flex-col gap-8"
        action="/artist/<%= typeof artist === 'undefined' ? 'new' : `edit/${artist._id}`  %>"
        method="post"
      >
        <div class="flex flex-col gap-3">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Name</span>
              <span class="hidden label-text-alt text-error">
                Name must be at least 1 characters long
              </span>
            </label>
            <input
              type="text"
              name="name"
              class="input input-bordered"
              placeholder="Name"
              required
              value="<%= typeof artist === 'undefined' ? '' : artist.name  %>"
            />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Nationality</span>
            </label>
            <input
              type="text"
              name="nationality"
              class="input input-bordered"
              placeholder="Nationality"
              required
              value="<%= typeof artist === 'undefined' ? '' : artist.nationality  %>"
            />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Monthly listeners</span>
            </label>
            <input
              type="number"
              name="monthly_listeners"
              class="input input-bordered"
              placeholder="Monthly listeners"
              required
              value="<%= typeof artist === 'undefined' ? '' : artist.monthly_listeners  %>"
            />
            <button></button>
          </div>
        </div>

        <div class="form-control">
          <div class="flex justify-center gap-2">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn" href="/artist">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="hidden fixed bottom-5 left-0 right-0 flex flex-col gap-3">
  <div class="alert alert-error max-w-md mx-auto">
    <i class="text-xl fa-regular fa-circle-xmark"></i>
    <span>Error! Task failed successfully.</span>
    <button><i class="fa-solid fa-xmark"></i></button>
  </div>
  <div class="alert alert-error max-w-md mx-auto">
    <i class="text-xl fa-regular fa-circle-xmark"></i>
    <span>Error! Task failed successfully.</span>
    <button><i class="fa-solid fa-xmark"></i></button>
  </div>
</div>

<%- include('../footer') %>
